{% extends "layout/base.html" %}

{% load staticfiles%} 

{% block content %} 

<br>

<h1 class="text-center" > WELCOME TO IGDTUW ONLINE </h1>

<div class="container">
	<hr>

	<br>
	
	Hey, there! Thanks for dropping by.

	<br><br>

	This website is currently under development. A group of passionate folks from the <b>Software Development Wing</b> of <b>CodeBenders</b> is currently working on this.

	<br><br>

	If you have any feedback or suggestions, then please feel free to drop us an email on <a href="mailto:diksha.2895@gmail.com">diksha.2895@gmail.com</a> or <a href="mailto:igdtuwcodebenders@gmail.com">igdtuwcodebenders@gmail.com</a>

	<br><br>

	Connect with us:

	<a href="https://github.com/codebenders-igdtuw" target="_blank">GitHub</a>  | 
	<a href="https://www.facebook.com/CodeBenders/" target="_blank">Facebook</a> | 
	<a href="https://twitter.com/codebenders" target="_blank">Twitter</a> |
	<a href="https://www.quora.com/topic/CodeBenders" target="_blank">Quora</a>

	<br><br>

</div>

{% endblock %}